force-app/main/default/flows/status_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>status updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>status updated</label>
    <loops>
        <name>looping_event_records</name>
        <label>looping event records</label>
        <locationX>513</locationX>
        <locationY>391</locationY>
        <collectionReference>get_event_data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>new_update_records</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_event_data</name>
        <label>get event data</label>
        <locationX>582</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_event_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>new_update_records</name>
        <label>new update records</label>
        <locationX>885</locationX>
        <locationY>450</locationY>
        <inputAssignments>
            <field>Event_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_event_data</targetReference>
        </connector>
        <object>Event__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-02</startDate>
            <startTime>12:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
